.header{
    display: flex;
    justify-content: space-around;
}
.services{
    display: flex;
    column-gap: 25px;
}
.header a{
    text-decoration: none;
    color: rgb(92, 11, 92);
}
nav a.active {
  text-decoration: underline;
}
